@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100;300;700&family=Handjet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Nunito:wght@400;700&display=swap');

/* RESETS */
* {box-sizing: border-box; transition: background 0.2s}
* {-webkit-tap-highlight-color: transparent}
input, textarea,
select, button {
    font: inherit;
    padding: 0;
    margin: 0;
}
textarea {overflow: auto}

img, canvas {
    display: block;
    max-width: 100%;
    height: auto;
}
figure, ul, ol, header h2 {padding: 0; margin: 0}

/* VARS */
:root {
    /*FONT*/
    --FF: "Roboto", "Arial", sans-serif;
    --FFheader: "Montserrat", sans-serif;
    --FFcode: 'Handjet', "Courier New", monospace;
    /*COLORS*/
    --colorPrimary: rgb(60, 160, 174);
    --colorSecondary: rgb(0,200,200);
    --colorTertiary: rgb(240,140,0);

    --colorBody-light: rgb(245, 245, 245);
    --colorBody-dark: rgb(28, 28, 28);

    --colorPrimary-05: rgb(60, 160, 174,0.5);
    --colorSecondary-05: rgb(0,200,200,0.5);
    --colorTertiary-05: rgb(240,140,0,0.5);

    --colorPrimary-t: rgba(55, 150, 180, 0.1);
    --colorSecondary-t: rgb(0,200,200, 0.1);
    --colorTertiary-t: rgba(240,140,0, 0.1);
    
    --colorOnPrimary: rgba(255,255,255,0.9);
    --colorOnSecondary: rgba(255, 255, 255,0.9);
    --colorOnTertiary: rgb(33, 33, 33,0.8);

    --colorPrimaryContainer: rgba(255,255,255,0.9);
    --colorSecondaryContainer: rgba(255,255,255,0.8);
    --colorPrimaryContainer-over: rgba(255, 255, 255,0.1);
    --colorSecondaryContainer-over: rgba(255,255,255,0.1);

    --colorOnContainer: rgb(22, 22, 22, 0.8);

    --colorBlueSky: rgba(0, 191, 255,0.75);
    --colorRed: rgba(220, 30, 30,0.8);
    --colorYellow: rgba(254, 250, 0);
    --colorGreen: rgba(0, 150, 0);

    --colorWarn: rgba(255, 150, 0, 0.5);

    --colorWhite-40: rgba(255, 255, 255,0.4);
    --colorWhite-60: rgba(255, 255, 255,0.6);
    --colorWhite-80: rgba(255, 255, 255,0.8);
    --colorWhite-90: rgba(255, 255, 255,0.9);
    --colorDarkGray: rgb(55, 55, 55);
    --colorDarkGray-80: rgba(33, 33, 33, 0.8);
    --colorShadow: rgba(127,127,127,0.5);
    --colorBlack-40: rgba(11, 11, 11, 0.4);
    --colorBlack-60: rgba(11, 11, 11, 0.6);
    --colorBlack-80: rgba(11, 11, 11, 0.8);
    --colorBlack-90: rgba(11, 11, 11, 0.9);
    
    --dark-colorPrimaryContainer: rgba(15,15,15,0.9);
    --dark-colorSecondaryContainer: rgba(15,15,15,0.8);
    --dark-colorPrimaryContainer-over: rgba(33, 33, 33,0.1);
    --dark-colorSecondaryContainer-over: rgba(33,33,33,0.1);

    --dark-colorOnContainer: rgba(255, 255, 255,0.8);

    /*DIMENS*/
    --navbar-width-main-left: 120px;
    --navbar-height-main-bottom: 72px;
    --radius-container: 1.5rem;
    --radius-elem-in-container: 1rem;
    --radius-elem-in-elem: 0.5rem;
    --radius-button: 2em;
    --radius-round: 50%;
    --gap-x2: 2rem;
    --gap-big: 1.5rem;
    --gap-bigger: 1.25rem;
    --gap-normal: 1rem;
    --gap-smaller: 0.75rem;
    --gap-small: 0.5rem;
    --gap-mini: 0.25rem;
    --size-box-mini: 0.5rem;
    --size-box-small: 1rem;
    --size-box-smaller: 1.5rem;
    --size-box-normal: 2rem;
    --size-box-bigger: 2.5rem;
    --size-box-big: 4rem;
    --size-box-large: 6rem;
    --size-text-h1: 2rem;
    --size-text-big: 1.5em;
    --size-text-bigger: 1.25em;
    --size-text-normal: 1rem;
    --size-text-normal-plus: 1.2em;
    --size-text-normal-height: 1.4em;
    --size-text-smaller: 0.75em;
    --size-text-small: 0.5em;
    --size-article-content: 1.25rem;
    --size-modal-header: 1.25rem;
    --size-main-nav-item: 0.875rem;
    --size-goolge-icons: 36px;
    --size-goolge-icon-in-button: 20px;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --colorPrimary: rgb(0, 140, 212);
        --colorSecondary: rgb(50, 180, 240);
        --colorTertiary: rgb(250, 196, 46);

        --colorOnPrimary: #f0faff;
        --colorOnSecondary: #ffffff;
        --colorOnTertiary: #333333;

        --colorBody: rgb(16,20,26);
        --colorPrimaryContainer: rgb(28,34,44);
        --colorSecondaryContainer: rgba(34,42,52,0.8);
        --colorTertiaryContainer: rgb(42,50,64);
    
        --colorOnPrimaryContainer: #f0f0f0;
        --colorOnSecondaryContainer: #f0f0f0;
        --colorOnTertiaryContainer: #ffffff;
    }
} */

/*GOOGLE_ICONS*/
.material-symbols-outlined {
    font-size: var(--size-goolge-icons);
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@keyframes blinker { 50% {opacity: 0} }

@keyframes helloHand {
    20% { transform: rotate(-25deg) }
    40% { scale: 1.2; transform: rotate(35deg) }
    60% { transform: rotate(-25deg) }
    80% { transform: rotate(35deg) }
    100% { scale: 1; transform: rotate(0) }
}
@keyframes opacityTransition {
    0% {opacity: 0}
    100% {opacity: 1}
}
@keyframes loadLine {
    0% {width: 1%}
    100% {width: 100%}
}
@keyframes dont {
    20% {transform:  skewX(-8deg) rotate(2deg) }
    40% {transform:  skewX(8deg) rotate(-2deg) }
    60% {transform:  skewX(-8deg) rotate(4deg) }
    80% {transform:  skewX(8deg) rotate(-4deg) }
    100% {transform: skewX(-8deg) rotate(0) }
}
@keyframes toolRotate {
    20% {scale: 1.2}
    40% {transform: rotate(-25deg); margin-top: -6px; margin-bottom: 12px}
    60% {transform: rotate(25deg); margin-top: 0; margin-bottom: 0}
    80% {transform: rotate(-25deg); margin-top: -6px; margin-bottom: 8px; scale: 1.2}
}
@keyframes rotateElement {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
@keyframes rotateYAvatar {
    50% { transform: rotateY(0) }
    51% { transform: rotateY(90deg) }
    99% { transform: rotateY(90deg) }
    100% { transform: rotateY(0) }
}
@keyframes rotateYGitAvatar {
    0% { transform: rotateY(90deg) }
    51% { transform: rotateY(90deg) }
    52% { transform: rotateY(0) }
    98% { transform: rotateY(0) }
    99% { transform: rotateY(90deg) }
    100% { transform: rotateY(90deg) }
}

/*UTILITY*/
body {
    font-family: var(--FF);
    background: var(--colorBody-light);
}
.body-dark, .body-dark .main-section .line-separator { background: var(--colorBody-dark) }

.nowrap {white-space: nowrap}
.text-center {text-align: center}
.hidden {visibility: hidden}
.hide { display: none !important}
.block-span {
    display: block;
    margin-block-start: var(--gap-smaller);
    margin-block-end: var(--gap-smaller);
}

h1, h3 { letter-spacing: 4px; color: var(--colorTertiary) }

h2 {color: var(--colorPrimary)}

h2, figcaption, p { letter-spacing: 1px }

h3 { font-size: 1.5em; text-transform: uppercase; font-weight: normal } 

.card h3 { margin-top: var(--gap-normal); margin-bottom: 0; font-size: var(--size-text-h1) }

figcaption span, .title { color: var(--colorTertiary) }
.body-dark .title, .body-dark h3 { color: var(--colorSecondary) }

code {color: var(--colorPrimary); font-family: var(--FFcode); font-size: 1.6em; letter-spacing: 2px}

td { color: var(--colorOnContainer) }
.body-dark td { color: var(--dark-colorOnContainer) }

p {
    color: var(--colorOnContainer);
    font-size: var(--size-text-normal);
    line-height: var(--size-text-normal-height)
}
.main-section p { text-align: center }

a { color: var(--colorSecondary) }

.body-dark code { color: var(--colorPrimary) }

.body-dark p { color: var(--dark-colorOnContainer) }

.textarea { border-color: var(--colorPrimary) }

.body-dark .textarea {
    background: var(--colorBlack-40);
    color: var(--dark-colorOnContainer);
}
div .warn {
    background: var(--colorWarn);
    border-color: var(--colorWarn);
    box-shadow: inset 0 0 0 1px var(--colorWarn);
}

.title::first-letter { text-transform: uppercase }

.chat-icon { font-size: var(--size-text-h1);}

/* BUTTONS */
button { border-style: solid; cursor: pointer; transition: all 0.2s }

.primary-btn, .game-caption.start {
    padding: var(--gap-normal) var(--gap-x2);
    border-width: 1px;
    border-color: var(--colorTertiary);
    box-shadow:
        0 0 2px 0 var(--colorTertiary),
        inset 0 0 4px 1px white;
    border-radius: var(--radius-button);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    background: radial-gradient(var(--colorTertiary), var(--colorTertiary-05));
    color: var(--colorOnTertiary);
}
.primary-btn:hover, .primary-btn:active, .game-caption.start:hover {
    background: radial-gradient(var(--colorTertiary), var(--colorTertiary));
    box-shadow:
        0 0 8px 1px var(--colorTertiary),
        inset 0 0 8px 1px white;
}
.body-dark .primary-btn {
    border-color: var(--colorPrimary);
    background: radial-gradient(var(--colorPrimary-05), var(--colorSecondary-t));
    box-shadow:
        0 0 2px 0 var(--colorPrimary),
        inset 0 0 6px 2px var(--colorPrimary);
    color: var(--dark-colorOnContainer)
}
.body-dark .primary-btn:hover, .body-dark .primary-btn:active {
    background: radial-gradient(var(--colorPrimary-05), var(--colorSecondary-05));
    box-shadow:
        0 0 6px 2px var(--colorPrimary),
        inset 0 0 6px 2px var(--colorPrimary);
}
.round-btn {
    font-size: var(--size-goolge-icon-in-button);
    border-radius: var(--radius-round);
}
.close-btn {
    background-color: var(--colorRed);
    color: white;
    border-color: var(--colorRed);
}
.close-btn:hover, .close-btn:active {
    box-shadow: 0 0 2px 0 var(--colorRed);
    transform: scale(1.2);
}
.refresh-btn, .info-btn {
    background-color: var(--colorTertiary-t);
    border-color: var(--colorTertiary);
    border-radius: var(--radius-button);
    color: var(--colorTertiary);
}
.refresh-btn:hover, .refresh-btn:active {
    transform: scale(1.1);
    box-shadow: 0 0 8px 2px var(--colorTertiary-05);
}
.info-btn { padding: var(--gap-small) }

.cancel-btn {
    background: none;
    padding: var(--gap-normal) var(--gap-x2);
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--colorTertiary)
}
.btn-locker {
    width: 100%;
    border: none;
    background: none;
    font-size: var(--size-goolge-icons);
    text-align: center;
    color: var(--colorOnSecondaryContainer)
}
.card-btn {
    position: absolute;
    top: var(--gap-normal);
    right: var(--gap-normal);
    width: var(--size-box-bigger);
    height: var(--size-box-bigger);
    background: none;
    border: none;
    font-size: var(--size-goolge-icons);
    color: var(--colorShadow);
}
.card-btn:hover { transform: scale(1.2) }

.more-btn {
    background: none;
    border-color: transparent;
}

.notify-popup {
    position: fixed;
    top: 1em;
    right: 1em;
    background: rgba(31,31,31,0.9);
    color: #f0f0f0;
    padding: 16px 24px;
    border-radius: 24px 0 24px 12px;
    z-index: 111;
    transition: 1s;
}
.tag {
    padding: 2px 4px;
    min-width: 50px;
    font-size: small;
    animation: blinker 0.5s ease-out forwards;
}

/* NAVIGATION */
.nav-container {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: var(--navbar-width-main-left);
    font-size: var(--size-main-nav-item);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-big);
    z-index: 4;
}
.main-logo { position: relative; margin-bottom: var(--gap-normal); }
.main-logo::after {
    display: block;
    position: absolute;
    top: 0;
    margin-top: -12px;
    margin-left: -12px;
    content: "";
    width: 72px;
    height: 72px;
    border-left: 8px solid var(--colorTertiary-05);
    border-right: 8px solid var(--colorSecondary-05);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-radius: var(--radius-round);
    animation: rotateElement 10s linear infinite;
}
.main-logo-img {
    position: relative;
    padding: 4px;
    background: linear-gradient( var(--colorPrimary), var(--colorSecondary));
    border-radius: var(--radius-round);
    box-shadow: 0 0 4px var(--colorShadow);
    animation: rotateYAvatar 60s forwards infinite;
    z-index: 1;
}
.github-avatar {
    position: absolute;
    top: 0;
    z-index: 1;
    background: white;
    border-radius: var(--radius-round);
    transform: rotateY(90deg);
    animation: rotateYGitAvatar 60s forwards infinite;
}
.nav-container .list {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-big);
}
.nav-container li {list-style-type: none; width: 100%}

.nav-container .list a {
    display: block;
    text-decoration: none;
    text-align: center;
    opacity: 0.9;
    cursor: pointer;
}
.nav-container a:hover {opacity: 1; text-shadow: 0 0 4px var(--colorWhite-60)}
.body-dark .nav-container a:hover {text-shadow: 0 0 4px var(--colorShadow)}

.nav-container span {
    display: block;
    margin-top: 4px;
    color: var(--colorDarkGray-80);
}
.body-dark .nav-container span { color: var(--dark-colorOnContainer) }

.nav-container .icon-span {
    margin: 0 auto;
    font-size: var(--size-box-normal);
    transition: all 0.2s;
}
#color-mode-btn .icon-span {
    width: var(--size-box-bigger);
    height: var(--size-box-bigger);
    line-height: var(--size-box-bigger);
    box-shadow: 0 0 0 2px var(--colorDarkGray-80);
    border-radius: var(--radius-round);
    transition: transform 1s;
}
#color-mode-btn:hover .icon-span { box-shadow: 0 0 0 2px var(--colorDarkGray-80), 0 0 4px 0 var(--colorWhite-80) }
.body-dark #color-mode-btn .icon-span { box-shadow: 0 0 0 2px var(--dark-colorOnContainer) }
.body-dark #color-mode-btn:hover .icon-span { box-shadow: 0 0 0 2px var(--dark-colorOnContainer), 0 0 6px 2px var(--colorShadow) }

#nav-projects:hover .icon-span {animation: toolRotate 1s ease backwards}
.nav-container a:hover .icon-span:not(#color-mode-btn .icon-span) {transform: scale(1.2)}
#color-mode-btn .icon-span.rotate {transform: rotate(360deg)}
.nav-container #lang-mode-btn a:hover .icon-span.rotate {transform: rotateX(180deg)}

/* MAIN */
.main {
    position: fixed;
    top: var(--gap-normal);
    bottom: var(--gap-normal);
    right: var(--gap-normal);
    left: 0;
    margin-left: var(--navbar-width-main-left);
    box-shadow: 0 0 4px 0 var(--colorShadow);
    overflow: hidden;
    background-color: var(--colorWhite-90);
    border-radius: var(--radius-container);
}
.body-dark .main {background: var(--dark-colorPrimaryContainer)}

.article {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.section {padding: var(--gap-normal)}

.main-article .section {min-height: 100%}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-article h1 {
    font-family: var(--FFheader);
    font-size: var(--size-text-h1);
    font-weight: normal;
    text-align: center;
}
.main-article h1::first-letter,
.main-article h2::first-letter {text-transform: uppercase}

.main-section .line-separator {
    width: 90%;
    height: 3px;
    background: radial-gradient(var(--colorTertiary), white 60%);
}
.body-dark .main-section .line-separator { background: radial-gradient(var(--colorTertiary), var(--dark-colorPrimaryContainer) 60%) }

.main-section .primary-btn {margin-top: var(--gap-normal)}

.main-figure {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-normal);
    top: var(--gap-normal);
    left: 1px;
    right: var(--gap-normal);
    margin-top: 1px;
    margin-left: var(--navbar-width-main-left);
    margin-right: 1px;
    padding: var(--gap-normal);
    background-color: var(--colorWhite-40);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--colorPrimary-t);
    border-radius: var(--radius-container) var(--radius-container) var(--radius-elem-in-elem) var(--radius-elem-in-elem);
    z-index: 2;
}
.body-dark .main-figure,
.body-dark .intro-feedback {
    background-color: var(--colorBlack-40);
}
.main-figure img {
    width: 100px;
    box-shadow: 0 0 2px 1px var(--colorShadow);
    border-radius: var(--radius-round);
    z-index: 1;
    transition: 0.2s;
}
.main-figure figcaption {
    overflow: hidden;
    line-height: 100px;
    font-family: var(--FFheader);
    font-size: var(--size-text-big);
    text-align: center;
    transition: 0.2s;
}
.intro-block, .intro-projects {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.intro-portion,
.feedback-portion {
    padding: var(--gap-smaller);
    margin-top: 0;
    margin-bottom: var(--gap-normal);
    max-width: 80%;
    background-color: var(--colorPrimary-t);
    box-shadow: inset 0 0 1px var(--colorShadow);
}
.intro-portion {
    margin-right: 16%;
    border-radius: 0 var(--radius-elem-in-elem) var(--radius-elem-in-elem) var(--radius-elem-in-container);
}
.body-dark .intro-portion,
.body-dark .feedback-portion { background-color: var(--colorPrimary-t) }

.intro-portion.hidden { height: 0; margin: 0; padding: 0 }

.intro-portion .myname { font-weight: bold }

.hello-hand {
    display: inline-block;
    font-size: var(--size-text-bigger);
    animation: 1s helloHand 0.5s linear forwards;
}
.intro-block .continue-btn,
.intro-projects .continue-btn { margin: var(--gap-x2) 0; align-self: center }

.feedback-portion {
    align-self: end;
    margin-left: 16%;
    border-radius: var(--radius-elem-in-elem) 0 var(--radius-elem-in-container) var(--radius-elem-in-elem);
}
.intro-feedback {
    position: sticky;
    bottom: 0;
    margin-left: -16px;
    padding: var(--gap-normal);
    background-color: var(--colorWhite-40);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
}
.intro-feedback .textarea {
    border-radius: var(--radius-elem-in-elem);
    width: 100%;
    padding: var(--gap-small);
    resize: none;
    margin-bottom: var(--gap-normal);
}
.intro-portion.card { max-width: 640px; background: none }

/* CARD */
.card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap-normal);
    margin: var(--gap-normal);
    padding: var(--gap-normal);
    border-radius: var(--radius-elem-in-container);
    box-shadow: 0 0 6px 0 var(--colorShadow);
    cursor: default;
}
.card:hover {
    box-shadow: 0 0 6px 0 var(--colorTertiary);
    cursor: pointer;
}
.body-dark .card:hover { box-shadow: 0 0 6px 0 var(--colorSecondary) }

.card img, .card .icon-span {
    display: block;
    width: 160px;
    height: 160px;
    line-height: 160px;
    font-size: 160px;
    text-align: center;
    color: var(--colorTertiary);
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48;
    transition: 0.2s;
}
.body-dark .card img, .body-dark .card .icon-span {color: var(--colorSecondary)}

.card:hover .icon-span {
    font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48;
}
.card .title {text-align: center}
.card-description {
    flex-grow: 1;
    max-width: 640px;
}

/* COLOR_TABLE */
.color-table {border-spacing: var(--gap-small)}

.color-table td {
    width: var(--size-box-smaller);
    height: var(--size-box-smaller);
    background: var(--colorTertiaryContainer);
    border-radius: var(--radius-round);
    text-align: center;
    transition: 0.4s;
    cursor: pointer;
}
.color-table td:hover,
.color-table td.highlight:hover {
    transform: scale(1.2);
    background: var(--colorTertiary);
    color: var(--colorOnTertiary);
}
.color-table td.highlight {box-shadow: inset 0 0 0 1px var(--colorShadowPrimary)}

.color-table td.highlight.odd {
    background: var(--colorPrimary);
    color: var(--colorOnPrimary);
}
.color-table td.highlight.even {
    background: var(--colorSecondary);
    color: var(--colorOnSecondary);
}

/* CALENDAR */
.calendar-table {
    margin: 0 auto;
    padding: var(--padding-normal);
    /* border-collapse: collapse; */
}
.fullscreen .calendar-table {
    width: 100%;
    border-spacing: var(--gap-normal);
}
.month-title {text-align: left; color: var(--colorTertiary); font-weight: normal;}
.month-title::first-letter, .calendar-header .label {text-transform: uppercase}
.calendar-header .label {color: var(--colorPrimary)}

.prev-month-days,
.next-month-days { opacity: 0.3 }

.calendar-table .label,
.calendar-table td {
    text-align: center;
    min-width: var(--size-box-bigger);
    height: var(--size-box-bigger);
    cursor: default;
}
.calendar-table td { border-radius: var(--radius-round); transition: all 0.3s }
.fullscreen .calendar-table td { border-radius: var(--radius-elem-in-elem) }
.calendar-table td:hover,
.calendar-table .selected {
    box-shadow:
        inset 0 0 8px 2px var(--colorTertiary),
        0 0 8px 0 var(--colorTertiary)
}
.calendar-table .today {
    background: var(--colorTertiary-t);
    box-shadow: inset 0 0 6px 1px var(--colorTertiary);
}
.calendar-header .prev-month:hover,
.calendar-header .next-month:hover {
    color: var(--colorPrimary);
    font-size: var(--size-box-normal);
    box-shadow: inset 0 0 0 2px var(--colorPrimary);
}
.calendar-header .prev-month,
.calendar-header .next-month,
.calendar-table .today,
.calendar-table .prev-month-days,
.calendar-table .next-month-days {cursor: pointer}

/* COLOR CHOICE */
.color-picker { flex-grow: 1; align-self: stretch }

.color-picker .colors {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-elem-in-elem);
    overflow: hidden;
}
.fullscreen .color-picker .colors {
    height: 100%;
    margin-top: 0;
    border-radius: 0;
    transition: 0.5s;
}
.color-picker .color {
    flex-grow: 1;
    min-height: 50vh;
    height: 100%;
    background: var(--colorSecondary-t);
    text-align: center;
}
.color--pals {
    width: 90%;
    margin: var(--gap-normal) auto;
    padding: var(--gap-small) 0;
    background-color: var(--colorWhite-60);
    border-radius: var(--radius-elem-in-elem);
    transition: 0.4s;
}
.color-picker .color:hover .color--pals {background-color: var(--colorWhite-80)}

.btn-locker {filter: invert(25%)}

.color--pal {display: none; font-family: 'Courier New', Courier, monospace}
.color-picker .color:hover .color--pal,
.color-picker .color:active .color--pal {display: block}

.color--pal.pal-1 {color: rgb(222,0,0)}
.color--pal.pal-2 {color: rgb(0,140,0)}
.color--pal.pal-3 {color: rgb(0,0,222)}
.body-dark .color--pal.pal-1 {color: rgb(232,0,0)}
.body-dark .color--pal.pal-2 {color: rgb(0,165,0)}
.body-dark .color--pal.pal-3 {color: rgb(55,145,255)}

.color-picker__control { position: relative; padding-top: var(--gap-normal) }

.fullscreen .color-picker__control {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-bottom: var(--gap-normal);
}
.color-picker__control .refresh-btn { width: 40%; margin-left: 30% }

.color-picker__control .info-btn { position: absolute; right: var(--gap-x2) }
.info-btn.rotate { transform: rotate(270deg) }

.refresh-btn.dont { animation: dont 0.5s linear backwards }

.color-picker__control .colors-results.hidden { margin-right: -160px }

.color-picker__control .colors-results {
    bottom: 54px;
    right: 0;
    margin-right: var(--gap-normal);
    padding: var(--gap-normal);
    border-radius: var(--radius-elem-in-elem);
    position: absolute;
    background: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.4s;
}
.body-dark .color-picker__control .colors-results {
    background: var(--dark-colorPrimaryContainer); 
}
.colors-results span {
    display: block;
    padding-left: var(--gap-big);
}
.colors-results .icon-of-color {
    display: inline-block;
    position: absolute;
    margin-top: 4px;
    padding: var(--size-box-mini);
    box-shadow: 0 0 4px 1px var(--colorShadow);
}

/* MODAL */
.modal-shade {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 var(--gap-normal);
    background: var(--colorWhite-40);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 111;
    transition-duration: 0.5s;
}
.body-dark .modal-shade { background: var(--colorBlack-40) }

.modal {
    position: relative;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    max-height: 96vh;
    /*margin-top calculated width js */
    background-color: white;
    border-radius: var(--radius-elem-in-container);
    box-shadow: 0 0 8px 0 var(--colorShadow);
    overflow-x: hidden;
    overflow-y: auto;
}
.body-dark .modal { background-color: var(--dark-colorPrimaryContainer) }

.modal.fullscreen {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
}
.modal-header {
    padding: var(--gap-normal);
    box-shadow: 0 0 4px var(--colorShadow);
    background: var(--colorPrimary-t);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-size: var(--size-modal-header);
    font-weight: bold;
    letter-spacing: var(--gap-mini);
    text-transform: uppercase;
    /* position: sticky;
    top: 0; */
    z-index: 1;
}
.no-header-modal .modal-header {
    position: absolute;
    right: 0;
    padding: var(--gap-mini);
    background: none;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
    box-shadow: none;
}
.modal-header span { color: var(--colorPrimary) }
.no-header-modal .modal-header span { display: none }
.modal-header .close-btn { float: right }

.modal-content {
    padding: var(--gap-normal);
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-modal {max-width: 640px}
.game-modal .modal-header { background: var(--dark-colorPrimaryContainer) }
.game-modal .modal-content {padding: 0}

/* GAME SECTION CANVAS */
.canvas-container {
    position: relative;
    line-height: 0.7;
    padding: 0;
    background: black;
    overflow: hidden;
}
.game-caption {
    position: absolute;
    top: var(--gap-normal);
    right: var(--gap-normal);
    padding: var(--gap-smaller);
    border-radius: var(--radius-round);
    background: var(--colorSecondary);
    box-shadow: 0 0 0 4px var(--colorSecondary-05);
    color: var(--colorOnSecondary);
    text-align: center;
    transform: scale(1);
    opacity: 1;
    transform: scale(1);
}
.game-caption.start {
    text-align: center;
    top: 60%;
    left: 0;
    right: 0;
    width: 256px;
    margin: 0 auto;
    background: radial-gradient(var(--colorTertiary), var(--colorTertiary));
    cursor: pointer;
}
.game-caption.start:hover { transform: scale(1.1)  }
.game-caption.loading {
    text-align: left;
    top: var(--gap-normal);
    left: 0;
    padding-bottom: 0;
    animation: loadLine 1s linear forwards;
    border-radius: 0;
    background: var(--colorTertiary);
    box-shadow: 0 0 0 4px var(--colorTertiary-05);
    color: var(--colorOnTertiary);
}
.game-caption.catched {
    border-radius: var(--radius-elem-in-elem);
    background: var(--colorTertiary);
}
.game-caption.win {
    top: 15%;
    right: 10%;
    width: 80%;
    height: auto;
    background: var(--colorSecondary-05);
    border-radius: var(--radius-elem-in-container);
    font-size: var(--size-text-h1);
    text-transform: uppercase;
    line-height: var(--size-text-normal-height);
    font-family: var(--FFcode);
}
.game-caption.ongame {opacity: 0.8}

/* DIGITAL_CLOCK */
.clock-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--gap-normal);
    padding: var(--gap-normal);
    background: linear-gradient( to bottom right, rgba(24, 24, 24,0.8), rgb(24, 24, 24));
    border: 4px solid rgb(255,55,55);
    border-radius: var(--radius-elem-in-container);
}
.fullscreen .clock-field {
    height: 100vh;
    width: 100%;
    border: none;
    gap: var(--gap-x2);
    border-radius: 0;
}
.clock-field .clock-unit {
    display: flex;
    flex-direction: row;
    gap: var(--gap-small);
}
.fullscreen .clock-field .clock-unit {gap: var(--gap-normal)}
/* .clock-field tr:nth-child(2) td,
.clock-field tr:nth-child(4) td { height: 24px }
.clock-field td:nth-child(2) { width: 24px } */

.clock-field td {
    background: rgba(100, 30, 30, 0.1);
    box-shadow: 0 0 3px 1px rgba(40,20,20,0.1);
    width: var(--size-box-small);
    height: var(--size-box-small);
    border-radius: 4px 2px;
}
.fullscreen .clock-field td {
    width: var(--size-box-normal);
    height: var(--size-box-normal);
    border-radius: 8px 4px;
}
.clock-field .digit-cell {
    background: rgba(255,55,55,0.1);
    box-shadow: 0 0 3px 1px rgba(255,0,0,0.1);
}
.clock-field .glow,
.clock-field .sep-dot {
    background: rgb(255,55,55);
    box-shadow: 0 0 3px 1px rgba(255,0,0,0.8);
}
.clock-field .sep-dot {animation: blinker 2s linear infinite} 

/* COLOR MODE */
#color-mode-switcher {
    position: fixed;
    left: var(--margin-container);
    bottom: var(--margin-container);
    transition: all 0.5s;
    z-index: 6;
}

/* FORM */
/* form {
    max-width: 480px;
    margin: 0 auto;
}
form fieldset {
    border: 10px solid var(--colorPrimary)
}
form legend {
    padding: 0 8px;
    font-weight: 700;
    color: var(--colorPrimary)
}

form .form__label {display: block}

form .form__input, form .form__text {
    padding: 0.5rem;
    border: 2px solid;
    border-radius: 8px;
    border-color: var(--colorSecondary);
    width: 90%;
}
form .form__input:focus, form .form__text:focus {border-style: solid}

form hr {
    border-color: var(--colorSecondary)
} */
#main-form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-link {
    margin-bottom: var(--gap-x2);
    line-height: 40px;
    padding-bottom: var(--gap-normal);
    font-size: var(--size-text-bigger);
    font-style: normal;
    font-weight: normal;
    border-bottom: 1px solid var(--colorShadow);
    text-align: center;
}
.contact-link:last-child { margin-bottom: 0; border-bottom: none }

.contact-link img { display: inline; vertical-align: bottom; margin: 0 }
.contact-link a { display: inline-block; vertical-align: top; text-decoration: none; font-size: inherit }
.contact-link:hover a { text-decoration: underline; text-decoration-thickness: 1px; text-underline-offset: 6px }
#my-gmail { color: rgb(234,67,54) }
#my-mail {
    background-image: url("data:image/svg+xml,%3Csvg width%3D%22114%22 height%3D%2238%22 fill%3D%22none%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E  %3Cmask id%3D%22a%22 style%3D%22mask-type%3Aalpha%22 maskUnits%3D%22userSpaceOnUse%22 x%3D%220%22 y%3D%220%22 width%3D%22115%22 height%3D%2238%22%3E    %3Cpath d%3D%22M114.548 0H0v38h114.548V0Z%22 fill%3D%22%23fff%22%2F%3E  %3C%2Fmask%3E  %3Cg mask%3D%22url(%23a)%22%3E    %3Cpath d%3D%22M113.458 3.515h-3.657v24.453h3.657V3.515Z%22 fill%3D%22%23005FF9%22%2F%3E    %3Cpath fill-rule%3D%22evenodd%22 clip-rule%3D%22evenodd%22 d%3D%22M105.848 27.97h-3.657V10.64h3.657v17.33ZM104.02 2.907c1.363 0 2.469 1.09 2.469 2.431 0 1.342-1.106 2.432-2.469 2.432-1.362 0-2.469-1.09-2.469-2.432 0-1.342 1.107-2.43 2.469-2.43ZM98.24 27.97h-3.596v-1.895c-1.287 1.437-3.557 2.34-5.69 2.34-5.106 0-9.25-4.082-9.25-9.11 0-5.027 4.144-9.11 9.25-9.11 2.133 0 4.283.793 5.69 2.193V10.64h3.596v17.33Zm-9.17-14.133c3.147 0 5.624 2.218 5.624 5.468 0 3.251-2.477 5.489-5.624 5.489-3.148 0-5.54-2.388-5.54-5.489 0-3.1 2.392-5.468 5.54-5.468ZM52.862 27.969h-3.594V10.64h3.594v1.21c.798-.739 2.295-1.652 4.371-1.655 2.55 0 4.452 1.057 5.755 2.757 1.425-1.683 3.774-2.757 6.169-2.757 4.491 0 7.553 2.987 7.553 7.642V27.97h-3.595V17.837c0-2.262-1.868-4.101-4.164-4.101-2.297 0-4.165 1.84-4.165 4.101V27.97h-3.594V17.837c0-2.262-1.87-4.101-4.165-4.101-2.297 0-4.165 1.84-4.165 4.101V27.97Z%22 fill%3D%22%23005FF9%22%2F%3E    %3Cpath d%3D%22M25.096 19c0 3.152-2.604 5.715-5.804 5.715S13.49 22.152 13.49 19c0-3.152 2.603-5.715 5.803-5.715 3.2 0 5.804 2.563 5.804 5.715ZM19.292 0C8.655 0 0 8.524 0 19s8.655 19 19.292 19c3.897 0 7.656-1.142 10.868-3.305l.055-.038-2.6-2.976-.043.029a15.45 15.45 0 0 1-8.28 2.395c-8.457 0-15.337-6.776-15.337-15.105 0-8.33 6.88-15.105 15.337-15.105C27.75 3.895 34.63 10.671 34.63 19c0 1.08-.122 2.172-.362 3.247-.485 1.96-1.879 2.561-2.925 2.482-1.053-.085-2.284-.823-2.292-2.63V19c0-5.3-4.377-9.61-9.759-9.61-5.381 0-9.758 4.31-9.758 9.61s4.377 9.61 9.758 9.61a9.757 9.757 0 0 0 6.914-2.837c1.075 1.648 2.826 2.68 4.82 2.837a6.575 6.575 0 0 0 4.435-1.28c1.156-.864 2.02-2.115 2.497-3.617.076-.242.215-.798.217-.801l.003-.02c.281-1.206.407-2.408.407-3.892 0-10.476-8.655-19-19.293-19%22 fill%3D%22%23FF9E00%22%2F%3E  %3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 120px;
    margin-right: 8px;
    height: 40px;
    color: rgb(255,157,3);
}
#my-vk { padding-left: 40px; font-size: var(--size-text-bigger); color: rgb(2,119,255) }
#my-vk svg { position: absolute; margin-left: -40px }
#my-phone { font-weight: normal; color: var(--colorOnContainer) }
.body-dark .goo-mail { filter: invert(100%) }
.body-dark #my-phone { color: var(--dark-colorOnContainer) }
.contact-link:hover svg { filter: drop-shadow(0 0 8px rgb(2,119,255)) }
.contact-link:hover .material-symbols-outlined { animation: helloHand 1s linear backwards }

/* DYNAMIC_FIXERS */
.nopadding {padding: 0}

@media screen and (max-width: 576px), screen and (orientation: portrait) {
    .clock-field .clock-separator,
    .main-logo {display: none}

    .clock-field {flex-direction: column}

    .nav-container {
        height: var(--navbar-height-main-bottom);
        width: 100%;
        flex-direction: row;
    }
    .nav-container .list {flex-direction: row}

    .main {
        bottom: var(--navbar-height-main-bottom);
        top: 0;
        left: 0;
        right: 0;
        margin-left: 0;
        border-radius: 0 0 var(--radius-container) var(--radius-container);
    }
    .main-figure {top: 0; margin-left: var(--gap-normal); border-radius: 0}
}

/* EXPERIMENT */